@import url('/css/style.css');
@import url('/css/about.css');

/* CONTACT FORM */

 #contact-form .form-group {
     margin-bottom: 20px;
 }

 #contact-form label {
     display: block;
     margin-bottom: 20px;
 }

 #contact-form input , 
 #contact-form textarea {
     width: 100%;
     padding: 10px;
     border: 1px solid #ddd;
 }

 #contact-form textarea {
     height: 200px; 
    resize: none;
}


#contact-form input:focus , 
#contact-form textarea:focus { 
    outline:none;
    border: 1px solid #f7c08a;
}

 